.navbar {
  display: flex;
  background-color: rgb(50, 50, 50);
  padding: 20px var(--padding-default);
  font-size: 1.2em;
  justify-content: left;
  align-items: center;
}
.navbar li{
  color: rgb(180, 180, 180);
  margin-right: 1.2em;
  text-decoration: none; 
  transition: 0.3s;
}

.navbar a:hover{
  color: rgb(255, 255, 255);
}

.navbar li:nth-child(2){
  margin-left: auto;
  
  justify-self: right;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.logoContainer h1{
  background: linear-gradient(to right, #fafafa 50%, var(--pokemon-red) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoContainer:hover h1{
  background: linear-gradient(to right, var(--pokemon-red) 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logoContainer:active h1{
  background: linear-gradient(to right, var(--pokemon-red) 50%, #aeaeae 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
